* {
    margin: 0;
    padding: 0;
    overflow: none;
}

.header {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    /* padding: 30px; */
}

a {
    text-decoration: none;
    color: #000;
}

h2 {
    /* color: rgb(242, 40, 188); */
    font-size: 30px;
}